.boxBackground {
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  box-shadow: -7px 28px 30px rgba(0, 0, 0, 0.25);
  z-index: 1;
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px) !important;
}

.boxLogin {
  min-width: 300px;
  min-height: 224px;
}

.boxPreRegister {
  min-width: 333px;
  min-height: 171px;
}

.boxRegister {
  min-width: 333px;
  max-width: 89vw;
}

.recoverEmail {
  min-width: 300px;
  min-height: 131px;
}

.recoverForm {
  min-width: 344px;
  min-height: 1px;
}

.position {
  position: absolute;
}
